.div-ppl-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
